---
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import type { PokemonListResponse } from "@interfaces/pokemon-list-response";

import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import Title from "@components/pokemons/shared/Title.astro";
import { nan } from "astro:schema";

export const getStaticPaths = (async () => {
	const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
	const { results } = (await resp.json()) as PokemonListResponse;

	const paths = results.map(({ name, url }) => {
		return {
			params: { name: name },
			props: { name: name, url: url },
		};
	});

	return paths;
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
	title={`Pokemon - #${id} ${name}`}
	description={`Information about the Pokemon ${name}`}
	image={imageUrl}
>
	<section class="mt-10 mx-10 flex flex-col justify-center items-center">
		<div class="flex flex-row">
			<div>
				<!-- <a href="/">Back</a> -->
				<button
					onclick="history.back()"
					class="text-blue-500 cursor-pointer">Back</button
				>
				<Title>
					{name}
				</Title>
			</div>

			<button
				id="btn-favorite"
				class="ml-4"
				data-name={name}
				data-id={id}
			>
				<Icon data-outline name="heart-outline" size={50} />
				<Icon data-full class="hidden" name="heart-full" size={50} />
			</button>
		</div>

		<PokemonCard name={name} url={url} isBig={true} />

		<audio controls class="mt-5">
			<source src={audioSrc} type="audio/ogg" />
			Your browser does not support the audio element.
		</audio>
	</section>
	<hr />
</MainLayout>

<script>
	// This script runs in the browser
	interface FavoritePokemon {
		id: number;
		name: string;
	}

	// document.addEventListener("astro:before-preparation", () => {
	// 	console.log("🚀 ~ astro:", "astro:before-preparation");
	// });

	// document.addEventListener("astro:after-preparation", () => {
	// 	console.log("🚀 ~ astro:", "astro:after-preparation");
	// });

	// document.addEventListener("astro:before-swap", () => {
	// 	console.log("🚀 ~ astro:", "astro:before-swap");
	// });

	// document.addEventListener("astro:after-swap", () => {
	// 	console.log("🚀 ~ astro:", "astro:after-swap");
	// });

	// document.addEventListener("astro:page-load", (dd) => {
	// 	console.log("🚀 ~ astro:", "astro:page-load");
	// });

	const handlePageLoad = () => {
		console.log("🚀 ~ astro loaded");

		let favoritePokemons: FavoritePokemon[] = JSON.parse(
			localStorage.getItem("favoritePokemons") ?? "[]"
		);

		console.log("🚀 ~ favoritePokemons:", favoritePokemons);

		const btnFavorite = document.querySelector(
			"#btn-favorite"
		) as HTMLButtonElement | null;

		if (!btnFavorite) return;

		if (btnFavorite) {
			const name = btnFavorite.dataset.name ?? "";
			const id = btnFavorite.dataset.id ?? "";

			const heartOutline = btnFavorite.querySelector(
				"[data-outline]"
			) as HTMLElement;

			const heartFull = btnFavorite.querySelector(
				"[data-full]"
			) as HTMLElement;

			const toggleFavorite = () => {
				const isFavorite = favoritePokemons.some(
					(fav) => fav.name === name
				);

				if (isFavorite) {
					// Remove from favorites
					favoritePokemons = favoritePokemons.filter(
						(fav) => fav.name !== name
					);
				} else {
					// Add to favorites
					favoritePokemons.push({ id: +id, name: name });
				}

				localStorage.setItem(
					"favoritePokemons",
					JSON.stringify(favoritePokemons)
				);
			};

			btnFavorite.addEventListener("click", () => {
				heartOutline.classList.toggle("hidden");
				heartFull.classList.toggle("hidden");

				console.log("🚀 ~ btnFavorite click:", name, id);
				toggleFavorite();
			});
		}
	};

	document.addEventListener("astro:page-load", handlePageLoad);
</script>

<style>
	@reference "tailwindcss";

	a {
		@apply hover:underline text-blue-500;
	}

	#btn-favorite {
		@apply hover:animate-pulse;
	}
</style>
