---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list-response";
// Server side code - moment of construction BUILD TIME
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import MainLayout from "@layouts/MainLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
	const { results } = (await resp.json()) as PokemonListResponse;

	return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = "Pokemon Static | Home";
const { page } = Astro.props;
// console.log("🚀 ~ page:", page);
---

<MainLayout title={title}>
	<h1 class="text-3xl">Pokemon List</h1>
	<hr />

	<section
		aria-label="Pokemon List"
		class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-5"
	>
		{
			page.data.map((pokemon) => (
				<PokemonCard name={pokemon.name} url={pokemon.url} />
			))
		}
	</section>

	<section class="flex px-10 mt-10 gap-2 items-center">
		<!-- {
			page.url.prev && (
				<a class="btn" href={page.url.prev}>
					Back
				</a>
			)
		} -->
		<a
			class:list={[
				"btn",
				{
					disabled: !page.url.prev,
				},
			]}
			href={page.url.prev}
		>
			Back
		</a>
		<a
			class:list={[
				"btn",
				{
					disabled: !page.url.next,
				},
			]}
			href={page.url.next}>Next</a
		>

		<div class="flex flex-1"></div>
		<span class="text-xl font-bold">{page.currentPage}</span>
	</section>
</MainLayout>

<style>
	@reference "tailwindcss";

	.btn {
		@apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600;
	}

	.disabled {
		@apply bg-slate-600 text-slate-200 cursor-not-allowed;
	}
</style>
